@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    /* overflow: hidden; */
    @apply transition-colors duration-300;
}

/* width */
::-webkit-scrollbar {
    width: 3.4px;
    height: 4px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #1c4e8069;
    border-radius: 5px;
}

.exercise-card {
    width: 400px;
    /* height: 445px; */
    background: #fff;
    border-top: 4px solid #ffd60a;
    border-bottom-left-radius: 35px;
    border-top-right-radius: 35px;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-bottom: 20px;
    transform: scale(1, 1);
    transition: 0.3s all ease-in-out;
  }
  
  .exercise-card img {
    height: 326px;
  }
  
  .bodyPart-card {
    transform: scale(1, 1);
    transition: 0.3s all ease-in-out;
  }
  
  .exercise-card:hover,
  .bodyPart-card:hover,
  .detail-card:hover {
    transform: scale(1.1, 1.1);
  }

  .detail-card{
    background: #fff;
    border-top: 4px solid #ffd60a;
    border-bottom-left-radius: 35px;
    border-top-right-radius: 35px;
    text-decoration: none;
    justify-content: space-between; 
    padding-bottom: 20px;
    transform: scale(1, 1);
    transition: 0.3s all ease-in-out;
  }
  
  .exercise-video {
    display: flex;
    flex-direction: column;
    gap: 24px;
    /* width: ;  */
    /* height: ;  */
    text-decoration: none;
  }